<form class="form-group">
  <table class="table table-responsive-md" style="text-align : center;">
    <tr>
      <td *ngIf="message" colspan="2">
        <div class="alert alert-danger" role="alert">
          <strong>Poruka :</strong> {{ message }}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Korisnicko ime:
      </td>
      <td>
        <input type='text' name='username' [(ngModel)]='username'>
      </td>
    </tr>
    <tr>
      <td>
        Stara lozinka:
      </td>
      <td>
        <input type='password' name='oldPassword' [(ngModel)]='oldPassword'>
      </td>
    </tr>
    <tr>
      <td>
        Nova lozinka:
      </td>
      <td>
        <input type='password' name='newPassword' [(ngModel)]='newPassword'>
      </td>
    </tr>
    <tr>
      <td>
        Nova lozinka - potvrda:
      </td>
      <td>
        <input type='password' name='newPassword2' [(ngModel)]='newPassword2'>
      </td>
    </tr>
    <tr>
     <td colspan="2">
        <button (click)='changePassword()' class="btn btn-info">Potvrdi promenu lozinke</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a routerLink='/login' class="btn-link">Nazad</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a routerLink='/forgotOldPassword' class="btn-link">Zaboravili ste lozniku?</a>
      </td>
    </tr>
  </table> 
</form>